.container{
    margin : 10px;
    padding: 10px;
    width: 50%;
    border: 1px solid;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    margin : 2px;
    padding: 4px 8px;
    border: none;
    border-radius: 10%;
}
.edit {
    
    background-color: rgb(241, 201, 245);
    color: rgb(24, 21, 27);
}
.delete {
    background-color: red;
}